<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<Printer name ="Scanner" formatVersion="1.0">
  <motion>
    <acceleration units="mm/s/s">100</acceleration>
    <!--Unit of distance is mm for all values.-->
    <axis>
      <name>X</name>
      <actuatorID>0</actuatorID>
      <!--The ID of the motor that controls this bay or blank if no motor controls this bay.-->
      <revolutionsPerDistance unit ="mm">0.033589877</revolutionsPerDistance>
      <!-- The revolutions per distance unit of the axis-->
      <!-- 0.0276791205,0.0331572798 ,0.0331572798 -->
      <range units ="mm">230</range>
    </axis>
  </motion>

  <tool name="Scanner">
    <bay>
      <id>0</id>
      <!-- use ID # rather than string-->
      <volume units="mm^3">0</volume>
      <!--maximum volume of the tool, 0 = infinite-->
      <flow>continuous</flow>
      <!-- either either contiuous or binary-->
      <actuation>
        <method>displacement</method>
        <!-- either displacement or descrete-->
        <revolutionsPerVolume unit="mm^3">0.25</revolutionsPerVolume>-->
        <!-- Use this to find mm^3/distance-->
        <actuatorID>0</actuatorID>
        <!--The ID of the motor that controls this bay or blank if no motor controls this bay.-->
        <script type="text/javascript">
          <![CDATA[
          function onVoxel(voxel){
            var path = xyz.pathTo(voxel.x,voxel.y,voxel.z,material.pathspeed);
            return path;
          }
		  
          function onPath(path){
             var np = xyz.pathAlong(path,material.pathspeed);
             return np;
          }
          ]]>
        </script>
      </actuation>

      <location>
        <x>0</x>
        <y>0</y>
        <z>0</z>
      </location>
    </bay>
  </tool>
  
  
  
  
  <system>
    <warmUp></warmUp>
    <coolDown>
      <script type="XDFL">
        <![CDATA[<path coordinates="rel"><point><x>0</x><y>0</y><z>-20</z></point></path>]]>
      </script>
    </coolDown>
  </system>

  <electronics type="JrKerr Snap Motors">
    <controller>
      <comPort>3</comPort>
      <numModules>1</numModules>
      <buffSize>80</buffSize>
      <baudRate>19200</baudRate>
      <bufferRate unit="hz">30</bufferRate>
      <xyzGroupAddress>128</xyzGroupAddress>
    </controller>
    <actuator>
      <id>0</id>
      <type>DC/Encoder</type>
      <!--Address of the motor.-->
      <address>1</address>
      <!--Direction of the motor. if zero the motor is positive clockwise. if !=0 the motor is positive counter-clockwise-->
      <reverse>1</reverse>
      <!--Counts to move one unit of distance.-->
      <countsPerRevolution>31445.913</countsPerRevolution>
      <!--Kp value of motor gains.-->
      <kp>2200</kp>
      <!--Kd value of motor gains.-->
      <kd>30000</kd>
      <!--Ki value of motor gains.-->
      <ki>0</ki>
      <!--IL value of motor gains.-->
      <il>16000</il>
      <!--OL value of motor gains.-->
      <ol>255</ol>
      <!--CL value of motor gains.-->
      <cl>0</cl>
      <!--EL value of motor gains.-->
      <el>32767</el>
      <!--SR value of motor gains.-->
      <sr>1</sr>
      <!--DB value of motor gains.-->
      <db>0</db>
      <!--Ticks per second.-->
      <ticksPerSecond>1953.125</ticksPerSecond>
      <!-- What does this mean???-->
      <minCommandedPosition>-2147483648.0</minCommandedPosition>
      <maxCommandedPosition>2147483647.0</maxCommandedPosition>
      <minCommandedVelocity>0.0</minCommandedVelocity>
      <maxCommandedVelocity>2500000.0</maxCommandedVelocity>
      <minCommandedAcceleration>0.0</minCommandedAcceleration>
      <maxCommandedAcceleration>125000000000.0</maxCommandedAcceleration>
    </actuator>
  </electronics>
</Printer>
